@import "../mixin";

/* box */
$box-var : .4rem;
.box { padding: 3.2rem 3.6rem;         
    &.bg { background-color: var(--gray-5); 
        .icon { background: var(--white);}
    }
    &.bg-white { background-color: var(--white); }
    &.border { border: 1px solid var(--border);}       
    &.round { border-radius: 1.2rem; }
    &.narrow { padding: 1.6rem 2rem; 
        &.round { border-radius: 0.8rem;}
    }
    &:has(.icon) { @include flex(3rem, center); }   
	&.col { justify-content: center; text-align: center;
		.icon { margin: 0 auto; }
	}
    .icon-wrap { text-align: center;}     
    .cont { flex: 1; 
        .list-dot { display: inline-block; margin-top: 0;}
    }  
	[class^=title-] { display: block; color: var(--gray-90); 
		&:has(+*) {margin-bottom: 1rem;}
	}
    .title-l { font-size: 2.4rem; } 
	.title-m { font-size: 2rem; } 
    .title-s { font-size: 1.7rem; }

    //준비용
    &.ready { padding: 8rem; @include flex(null, center, center, column);
        .title { font-size: 3.2rem; margin-top: 2.8rem;}
    }
}

.helper-box { padding: 1.6rem 2rem; background: var(--gray-5); border: 1px solid var(--border); border-radius: 0.6rem; font-size: 1.5rem; position: relative; margin-top: 1.6rem;
    .ic-warning { position:absolute; left:0; top:0; width: 1.8rem; height: 1.8rem;
        &::after { font-weight: 400; font-size: 1.5rem;}
    }
    .helper-tit { @include flex(1rem, center); position: relative; padding-left: 2rem; 
        + .helper-desc-wrap { margin-top: .8rem; }
    }
    .helper-desc-wrap { position: relative; padding-left: 2rem; }    
    .btn.xsm { height: 2.5rem;}
}

//박스가 여러개일때 
.box-wrap { @include flex(2.8rem 2rem);
    >* {flex: 1;}
}




@include media($mobile) {
	.box { padding: 1.6rem 1.8rem; 
        &:has(.icon) { flex-direction: column;}
        &.narrow { padding: .8rem 1rem; }
        &.title-box { padding: 2.4rem;
            .icon { display: none;}
        }
        .icon + .cont { text-align: center; 
          .list-dot { text-align: left;}  
        }
    }  
    .box-wrap { gap:1.4rem 1rem;}  
}
